button {
    background-color: #ccff00;
    border: 2px solid #99cc00;
    border-radius: 10px;
    color: #224400;
    font-weight: 600;
}

input {
    border-radius: 10px;
}

input:not([type=submit],[type=button],[type=reset],[type=range],[type=file],[readonly]):focus, select:focus, textarea:focus {
    --box-shadow: 0 0 0 var(--outline-width) #6600ff33;
}

:where(select,textarea):is(:active,:focus), input:not([type=submit],[type=button],[type=reset],[role=switch],[readonly]):is(:active,:focus) {
    --border-color: #6600ff66;
}

h1 {
    margin-bottom: 24px;
}

.cancel {
    background-color: #99cc33;
}

.title {
    font-size: x-large;
    font-weight: 600;
    color: #330066;
    margin-right: 10px;
}

.location {
    color: #554466;
}

.keyword {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #9977bb;
    color: white;
    display: inline-flex;
    border: none;
}

img {
    margin-bottom: 20px;
}

.views {
    display: flex;
}