button {
    border-radius: 10px;
    border: none;
    background-color: #8749cc;
    padding: 10px 20px;
}

.selected {
    background-color: #6600ff;
}

.detailkey {
    color: #220044;
    font-size: 1.1rem;
    font-weight: bolder;
}

h1 {
    margin: 5px;
    font-size: 1.4rem;
}

ul {
    height: 80px;
}