nav [role=button] {
    background-color: #00ccff;
    border: 2px solid #0099cc;
    border-radius: 10px;
    color: #000033;
    font-weight: 600;
    padding: 8px 12px;
    margin: 4px;
}

nav ul:first-of-type {
    color: #000033;
    font-weight: 600;
    font-size: x-large;
    margin-left: 0px;
}

[role=button] {
    border-radius: 10px;
    font-weight: 600;
}

.ultrasrt {
    background-color: #ff9900;
    border: 2px solid #993300;
    color: #221100;
}

.vilage {
    background-color: #66ff00;
    border: 2px solid #339900;
    color: #112200;
}

h1 {
    font-size: xx-large;
    margin-bottom: 0px;
}

input:not([type=checkbox], [type=radio]), select, textarea {
    margin-bottom: 0px;
    height: 50px;
    border-radius: 10px;
}

select option:hover{
    background-color:yellow;
}

:where(select, textarea):is(:active, :focus), select:not([multiple],[size]):is(:active, :focus),
input:not([type=submit], [type=button], [type=reset], [role=switch], [readonly]):is(:active, :focus) {
    --border-color: #cc66ff99;
    --box-shadow: 0 0 0 var(--outline-width) #6600ff33;
}

select:not([multiple],[size]) {
    padding: 6px 12px;
}