.price {
    display: inline-flex;
    width: 6.5em;
    justify-content: right;
}

.rank {
    display: inline-flex;
    width: 1.5em;
    justify-content: right;
}

.arrow {
    color: #6633ff;
}

thead th {
    background-color: #66ccff;
    color: white;
    border-radius: 10px;
    text-align: center;
}

tfoot th {
    background-color: #cc66ff;
    color: white;
    border-radius: 10px;
    text-align: center;
}

td {
    text-align: center;
}

table {
    border-spacing: 5px;
    border-collapse: separate;
    margin: 0px 0px 6px;
}

h1 {
    margin: 0px 0px 6px;
    text-align: center;
}

.movie {
    display: inline-flex;
    width: 20em;
}