.price {
    display: inline-flex;
    width: 7.5em;
    justify-content: right;
}

.rank {
    display: inline-flex;
    width: 1.5em;
    justify-content: right;
}

.arrow {
    color: #6633ff;
}

thead th {
    background-color: #66ccff;
    color: white;
    border-radius: 10px;
    text-align: center;
}

tfoot th {
    background-color: #cc66ff;
    color: white;
    border-radius: 10px;
    text-align: center;
}

td {
    text-align: center;
}

table {
    border-spacing: 5px;
    border-collapse: separate;
    margin: 0px 0px 6px;
}

h1 {
    margin: 0px 0px 12px;
    text-align: center;
}

.movie {
    margin-right: 10px;
    background-color: #ffffff99;
    color: #cc66ff;
    padding: 3px 5px 7px;
    border-radius: 5px;
    font-weight: 600;
}

input {
    margin-top: 12px;
    border-radius: 10px;
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
    margin-bottom: 0px;
    height: 50px;
}

::selection {
    background-color: #6633ff33;
}

:where(select, textarea):is(:active, :focus),
input:not([type=submit], [type=button], [type=reset], [role=switch], [readonly]):is(:active, :focus) {
    --border-color: #cc66ff99;
    --box-shadow: 0 0 0 var(--outline-width) #6600ff33;
}
